{% extends 'base.html' %}

{% block title %}Создать пользователя{% endblock %}

{% block content %}
    <h2>Создать пользователя</h2>
    <form method="POST">
        {{ form.hidden_tag() }}
        <div class="form-group">
            {{ form.login.label }}
            {{ form.login(class="form-control",  **{'aria-describedby': 'loginHelp'}) }}
             {% if form.login.errors %}
                <small id="loginHelp" class="form-text text-danger">
                    {% for error in form.login.errors %}
                        {{ error }}
                    {% endfor %}
                </small>
            {% endif %}
        </div>
        <div class="form-group">
            {{ form.password.label }}
            {{ form.password(class="form-control",  **{'aria-describedby': 'passwordHelp'}) }}
            {% if form.password.errors %}
                <small id="passwordHelp" class="form-text text-danger">
                    {% for error in form.password.errors %}
                        {{ error }}
                    {% endfor %}
                </small>
            {% endif %}
        </div>
        <div class="form-group">
            {{ form.last_name.label }}
            {{ form.last_name(class="form-control",  **{'aria-describedby': 'lastNameHelp'}) }}
            {% if form.last_name.errors %}
                <small id="lastNameHelp" class="form-text text-danger">
                    {% for error in form.last_name.errors %}
                        {{ error }}
                    {% endfor %}
                </small>
            {% endif %}
        </div>
        <div class="form-group">
            {{ form.first_name.label }}
            {{ form.first_name(class="form-control",  **{'aria-describedby': 'firstNameHelp'}) }}
            {% if form.first_name.errors %}
                <small id="firstNameHelp" class="form-text text-danger">
                    {% for error in form.first_name.errors %}
                        {{ error }}
                    {% endfor %}
                </small>
            {% endif %}
        </div>
        <div class="form-group">
            {{ form.middle_name.label }}
            {{ form.middle_name(class="form-control") }}
        </div>
        <div class="form-group">
            {{ form.role.label }}
            {{ form.role(class="form-control") }}
             {% if form.role.errors %}
                <small class="form-text text-danger">
                    {% for error in form.role.errors %}
                        {{ error }}
                    {% endfor %}
                </small>
            {% endif %}
        </div>
        {{ form.submit(class="btn btn-primary") }}
    </form>
    <br>
    <a href="{{ url_for('routes.index') }}" class="btn btn-secondary">Назад к списку</a>
{% endblock %}