{# templates/index.html #}
{% extends 'base.html' %}

{% block title %}Список пользователей{% endblock %}

{% block content %}
    <h2>Список пользователей</h2>
    <table class="table">
        <thead>
            <tr>
                <th>№</th>
                <th>ФИО</th>
                <th>Роль</th>
                <th>Действия</th>
            </tr>
        </thead>
        <tbody>
            {% for user in users %}
                <tr>
                    <td>{{ loop.index }}</td>
                    <td>{{ user.get_full_name() }}</td>
                    <td>{{ user.role.name if user.role else 'Нет роли' }}</td>
                    <td>
                         {# Проверяем, может ли текущий пользователь просматривать профиль #}
                        {% if current_user.is_authenticated and (current_user.role.name == 'Администратор' or current_user.id == user.id) %}
                            <a href="{{ url_for('routes.user_details', user_id=user.id) }}" class="btn btn-info btn-sm">Просмотр</a>
                        {% endif %}

                        {# Проверяем, может ли текущий пользователь редактировать профиль #}
                        {% if current_user.is_authenticated and (current_user.id == user.id or current_user_permissions.get('edit_user')) %}
                            <a href="{{ url_for('routes.edit_user', user_id=user.id) }}" class="btn btn-primary btn-sm">Редактировать</a>
                        {% endif %}

                        {# Проверяем, может ли текущий пользователь удалять профиль #}
                        {% if current_user_permissions.get('delete_user') %}
                            <button type="button" class="btn btn-danger btn-sm" data-toggle="modal" data-target="#deleteUserModal{{ user.id }}">Удалить</button>

                            <!-- Модальное окно подтверждения удаления -->
                            <div class="modal fade" id="deleteUserModal{{ user.id }}" tabindex="-1" role="dialog" aria-labelledby="deleteUserModalLabel{{ user.id }}" aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="deleteUserModalLabel{{ user.id }}">Вы уверены, что хотите удалить пользователя {{user.get_full_name() }}?</h5>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Нет</button>
                                            <form action="{{ url_for('routes.delete_user', user_id=user.id) }}" method="POST">
                                                <button type="submit" class="btn btn-danger">Да</button>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    {# Проверяем, может ли текущий пользователь создавать новых пользователей #}
    {% if current_user_permissions.get('create_user') %}
        <a href="{{ url_for('routes.create_user') }}" class="btn btn-success">Создать пользователя</a>
    {% endif %}

    {# Проверяем, может ли текущий пользователь смотреть журнал посещений #}
    {% if current_user.is_authenticated %}
        {% if current_user.role.name == "Администратор" %}
        <a href="{{ url_for('reports.visit_log') }}" class="btn btn-primary">Журнал посещений</a>
        {% else %}
        <a href="{{ url_for('reports.user_visit_log') }}" class="btn btn-primary">Журнал посещений</a>
        {% endif %}
    {% endif %}
{% endblock %}